{% extends "JSDefaultBundle:Default:catalog.html.twig" %}
{% block main %}
    <div class="span63 mb">
        <div class="row pl2_5">
            <h3>О НАС</h3>
            <div>
                <p>Владельцем Интернет-магазина <a href="http://jansport.by">www.jansport.by</a> является ИП Сопелев В.А.</p>
                <p>Свидетельство о государственной регистрации №191162772  выдано 18.01.2010 г. администрацией Ленинского района г.Минска.</p>
            </div>
        </div>
    </div>
{% endblock %}