{% extends "JSDefaultBundle:Default:catalog.html.twig" %}
{% block main %}
    <div class="span63 h35" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="row pl2_5">
            <h3>ДОСТАВКА</h3>
            <div>
                <p>Мы принимаем заказы в электронном виде ежедневно и круглосуточно.</p>
                <p>По телефону +375-25-977-10-44 - в рабочие дни с 09.00 до 21.00.</p>

                <h4>Доставка по Беларуси</h4>

                <p>Минск - в пределах МКАД в рабочие дни с 9.00 до 21.00 - бесплатно.</p>

                <p>Другие города Беларуси - почтовыми отправлениями РУП «Белпочта» в течение 3-5 дней, в соответствии с режимом работы РУП «Белпочта», согласно тарифам РУП «Белпочта», за счёт Покупателя. Получение товара – в районном почтовом отделении.</p>

                <h4>Доставка в Россию</h4>

                <p>Москва и Санкт-Петербург - стоимость доставки 300 российских рублей, срок доставки 3-7 дней, оплата при получении заказа.</p>
                <p>Забрать Ваш заказ в Москве Вы можете в районе станции метро «Новослободская», предварительно согласовав с нами время получения заказа.</p>
                <p>Забрать Ваш заказ в Санкт-Петербурге Вы можете, предварительно согласовав с нами место и время получения заказа.</p>

                <h4>Оплата заказа</h4>

                <h5>Наличными по факту доставки. </h5>
                <p>Заказ оплачивается курьеру наличными при получении товара.</p>

                <h5>Оплата в любом отделении банка.</h5>
                <p>Товар может быть предварительно оплачен в любом отделении банка. Заказ высылается сразу после поступления денег на наш расчётный счёт.</p>

                <h5>Банковские реквизиты для оплаты:</h5>
                <ul style="list-style: none;">
                    <li>Получатель платежа: ИП Сопелев В.А.</li>
                    <li>Адрес: 220101, г.Минск, ул.Якубова, 4-20</li>
                    <li>УНП: 191162772</li>
                    <li>Р/с:  3013167900013 в ОАО «Банк БелВЭБ» Минское отд.4, код 226</li>
                    <li>220101, г.Минск, пр.Победителей, 29</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}