{% extends "JSDefaultBundle:Default:catalog.html.twig" %}
{% block main %}
    <div class="span63 h35">
        <div class="row pl2_5">
            <h3>ИСТОРИЯ</h3>
            <div>
                Компания JanSport®, основанная в 1967 году, известна во всем мире как производитель качественных, надежных и долговечных рюкзаков, сумок и дорожных принадлежностей. «Открой для себя свободу, вырази себя» – вот философия, которой придерживаются основатели компании из города Сан-Леандро в Калифорнии. «Наша цель – придумать, сконструировать, произвести и предложить Вам вещи, которые помогут доставить из точки А в точку Б что бы то ни было». Яркая и разнообразная как сама жизнь, продукция компании JanSport® успешно продается в магазинах по всему миру. Ежегодно в мире продается более пяти миллионов рюкзаков JanSport®, а это примерно 10 рюкзаков каждую секунду!
            </div>
        </div>
    </div>
{% endblock %}