{% extends "JSDefaultBundle:Default:catalog.html.twig" %}
{% block main %}
    <div class="span63 h35">
        <div class="row pl2_5">
            <h3>ПУНКТЫ ПРОДАЖ</h3>
            <div>
                <p>Если Вам сложно определиться с выбором нужной модели, размера или расцветки в Интернет-магазине, Вы можете посетить один из наших розничных пунктов продажи:</p>

                <p><strong>Магазин «Синоптик»</strong> по адресу: г.Минск, ул.Калиновского, 111 (в фойе «Республиканского центра олимпийской подготовки по лёгкой атлетике»)</p>
                <p><strong>ТЦ «Столица»</strong> по адресу: г.Минск, пл.Независимости, (магазин обуви «ОКЕЙ» - средний уровень,  павильон 412)</p>
                <p><strong>Магазин обуви «Красная,18»</strong> по адресу: г.Минск, ул.Красная,18 (200 м от ст.метро «Площадь Я.Коласа»)</p>
                <p>или обратиться за консультацией по тел:  <strong>+37525-977-10-44</strong></p>
            </div>
        </div>
    </div>
{% endblock %}