{% extends "JSDefaultBundle:Default:catalog.html.twig" %}
{% block main %}
    <div class="span63 h35">
        <div class="row pl2_5">
            <h3>ГАРАНТИЯ</h3>
            <div>
                <p>JanSport® создает качественные, прочные и надёжные вещи. На всю продукцию JanSport®, купленную в нашем Интернет-магазине, мы предоставляем гарантию 1 год с момента продажи.</p>

                <p>Гарантия на продукцию JanSport® действует при нормальных условиях эксплуатации. Мы не несём ответственности, если Вы регулярно подвергаете Ваш рюкзак чрезмерной нагрузке, носите в нем негабаритные предметы, а также предметы, способные нанести повреждения в силу своих конструктивных особенностей (острые углы, колющие и режущие части), если Ваш рюкзак подвергся критической деформации и повреждению в результате аварии, несчастного случая, если Вы его использовали не по назначению или решили внести какие-либо изменения в оригинальную конструкцию.</p>

                <p>Компания JanSport® обеспечивает гарантийное обслуживание своей продукции в течение 30 лет с момента продажи или пожизненную гарантию, которая распространяется на материал, из которого сделан рюкзак, молнии, карабины, а также на скрытые производственные дефекты.</p>

                <p>При возникновении гарантийного случая Вы всегда можете связаться с нами или обратиться в любой другой ближайший авторизованный сервисный центр компании
                JanSport®.</p>

                <h4>Возврат и обмен товара</h4>
                <p>Любой, купленный в нашем Интернет-магазине товар Вы можете вернуть или обменять на другую расцветку в пределах модели или на другую модель.</p>

                <p>Товар надлежащего качества Вы можете вернуть в течение 14 дней с момента покупки при условии отсутствия следов его использования, с оригинальными ярлыками и в оригинальной упаковке. Расходы по возврату и обмену товара несёт Покупатель.</p>

                <h4>Правила ухода и эксплуатации</h4>
                <ul>
                    <li>чистите Ваш рюкзак/сумку влажной тканью по мере надобности;</li>
                    <li>в случае необходимости рекомендуется только ручная стирка мягкими моющими средствами без использования отбеливателей, смягчителей и ополаскивателей;</li>
                    <li>если в Вашем рюкзаке/сумке есть  детали из натуральной кожи/замши, рекомендуется чистка специальными чистящими средствами для кожи/замши;</li>
                    <li>не оставляйте внутри надолго влажные/мокрые вещи;</li>
                    <li>просушивайте Ваш рюкзак/сумку в расправленном виде;</li>
                    <li>не используйте машинную сушку.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}